
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins','sans-serif';
  font-size: 18px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0C7F8C;
}

.header{
  margin: 2%;
  display: flex;
  width: 80%;
  height: 90px;
  background-color: #021826;
  color: #fff;
  border-radius: 7px;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}

.header .logo{
  font-weight: bold;
  font-size: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

i{
  padding-right: 10px;
}

.cart{
  background-color: #D7EDF2;
  color: #021826;
  width: 70px;
  justify-content: space-between;
  border-radius: 7px;
  padding: 7px 10px;
}

.cart p{
  font-size: 20px;
  border-bottom: 1px solid #021826;
}

.titulo{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 110px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 40px;
}

h2{
  font-size: 25px;
  color: #fff;
  border-radius: 7px;
  padding: 8px 10px;
}

.container{
  display: flex;
  width: 70%;
  margin-bottom: 30px;
}

.lista-produtos{
  display: grid;
  width: 60%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.imgProduto{
  padding-top: 2%;
  width: 110%;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.produtoMiniatura{
  max-width: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.button{
  width: 100%;
  border: none;
  border-radius: 7px;
  position: relative;
  padding: 7px 45px;
  cursor: pointer;
  background-color:#021826;
  color: #fff;
}

.button:hover{
  background-color: #D7EDF2;
  color:#021826;
  transition: all;
  transition-duration: 0.5s
}

.corpo-produto{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 35px;
  border: 1px solid #021826;
  border-radius: 7px;
}

.barralateral{
  width: 40%;
  border-radius: 7px;
  background-color: #D7EDF2;
  margin-left: 20px;
  padding: 15px;
  text-align: center;
}

.topcarrinho{
  background-color: #021826;
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
}

.item-carrinho{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #021826;
  border-radius: 7px;
  color: white;
  margin: 10px 10px;
  border-bottom: 1px solid #ffffff;
}

.linhaImagem{
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #021826;
  align-items: center;
  justify-content: center;
}

.img-carrinho{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.rodape{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid #021826;
}